body {
    background-color: #334666;
    color: white;
    font-family: helvetica, sans-serif;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
}
section {
    text-align: center;
}
button {
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 14px;
}
table {
    margin-top: 25px;
    width: 100%;
    border-collapse: collapse;
}
#employeeList th {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
    background-color: rgba(34, 34, 34, .5);

}
#employeeList td, #employeeList th {
    border: 1px solid rgba(256, 256, 256, .5);
    padding: 10px;
}
#employeeList tr:hover {
    background-color: rgba(34, 34, 34, .25);
}
